In [9]:
import pandas as pd
cdc = pd.read_csv("/data/CDCSocialVulnerabilityIndexFlorida_dataset.csv"
                  , dtype={"FIPS": "string"})

In [10]:
cdc.head()
cdc.info()
cdc.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5122 entries, 0 to 5121
Columns: 158 entries, ST to MP_OTHERRACE
dtypes: float64(75), int64(78), object(4), string(1)
memory usage: 6.2+ MB

,ST,STCNTY,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,E_POV150,...,EP_ASIAN,MP_ASIAN,EP_AIAN,MP_AIAN,EP_NHPI,MP_NHPI,EP_TWOMORE,MP_TWOMORE,EP_OTHERRACE,MP_OTHERRACE
count,5122.0,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,...,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000
mean,12.0,12071.707536,10.475132,4223.844006,677.010933,1935.954119,230.416439,1630.894377,235.009371,899.709098,...,-5.538188,-5.433581,-7.860875,-6.571886,-7.947208,-6.451777,-5.089828,-5.190277,-7.503065,-6.279344
std,0.0,35.921941,44.180435,2067.375160,347.179776,868.430791,108.156611,737.152315,107.947105,667.490947,...,89.313591,89.332578,89.044463,89.212997,89.034699,89.223996,89.334463,89.355600,89.080808,89.244820
min,12.0,12001.000000,0.000000,0.000000,1.000000,0.000000,6.000000,0.000000,5.000000,0.000000,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
25%,12.0,12039.000000,0.691707,2809.250000,437.000000,1335.500000,156.000000,1122.000000,159.000000,405.250000,...,0.100000,1.100000,0.000000,0.800000,0.000000,0.900000,0.900000,1.300000,0.000000,0.800000
50%,12.0,12086.000000,1.362062,3942.000000,613.000000,1838.500000,214.000000,1544.000000,218.000000,746.000000,...,1.300000,1.900000,0.000000,1.100000,0.000000,1.200000,2.200000,2.100000,0.000000,1.300000
75%,12.0,12099.000000,3.670593,5339.500000,850.000000,2424.750000,288.000000,2040.750000,293.000000,1222.750000,...,3.300000,3.200000,0.000000,1.600000,0.000000,1.700000,4.200000,3.500000,0.500000,1.900000
max,12.0,12133.000000,930.339042,23706.000000,3807.000000,8790.000000,841.000000,7737.000000,855.000000,5471.000000,...,32.500000,100.000000,36.700000,100.000000,6.400000,100.000000,28.300000,100.000000,17.400000,100.000000

In [11]:
cdc.dropna()
cdc.drop_duplicates()

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,EP_ASIAN,MP_ASIAN,EP_AIAN,MP_AIAN,EP_NHPI,MP_NHPI,EP_TWOMORE,MP_TWOMORE,EP_OTHERRACE,MP_OTHERRACE
0,12,Florida,FL,12001,Alachua County,12001000201,Census Tract 2.01; Alachua County; Florida,0.478190,4856,1028,...,7.9,4.1,0.1,0.2,0.0,1.0,2.5,2.4,1.4,2.1
1,12,Florida,FL,12001,Alachua County,12001000202,Census Tract 2.02; Alachua County; Florida,0.331084,5464,961,...,4.1,1.9,0.0,0.9,0.0,0.9,0.8,0.8,0.7,1.0
2,12,Florida,FL,12001,Alachua County,12001000301,Census Tract 3.01; Alachua County; Florida,0.957160,4034,986,...,2.1,2.7,0.0,1.2,0.0,1.2,4.8,3.5,0.0,1.2
3,12,Florida,FL,12001,Alachua County,12001000302,Census Tract 3.02; Alachua County; Florida,1.474725,2363,308,...,4.1,4.3,0.0,2.1,0.0,2.1,4.6,3.4,0.0,2.1
4,12,Florida,FL,12001,Alachua County,12001000400,Census Tract 4; Alachua County; Florida,2.320662,5526,1014,...,3.1,3.8,0.4,0.5,0.5,0.7,7.2,3.3,2.3,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5117,12,Florida,FL,12133,Washington County,12133970104,Census Tract 9701.04; Washington County; Florida,26.483893,2436,330,...,0.0,2.0,0.9,1.4,0.0,2.0,1.4,1.6,0.0,2.0
5118,12,Florida,FL,12133,Washington County,12133970200,Census Tract 9702; Washington County; Florida,140.093485,3131,390,...,1.1,1.9,0.0,1.6,0.0,1.6,1.1,1.3,0.4,0.7
5119,12,Florida,FL,12133,Washington County,12133970301,Census Tract 9703.01; Washington County; Florida,86.108109,2834,514,...,0.0,1.7,0.1,0.3,0.0,1.7,2.5,2.0,0.0,1.7
5120,12,Florida,FL,12133,Washington County,12133970302,Census Tract 9703.02; Washington County; Florida,161.690130,7290,400,...,2.2,1.3,1.9,0.7,0.0,0.7,3.4,1.7,0.0,0.7
5121,12,Florida,FL,12133,Washington County,12133970303,Census Tract 9703.03; Washington County; Florida,115.085819,3872,442,...,0.7,1.1,2.2,1.8,0.0,1.3,5.0,3.5,0.0,1.3

In [12]:
# GEOID (tract key) 
cdc["GEOID"] = cdc["FIPS"].str.zfill(11)

# South Florida county FIPS (first 5 digits of GEOID) 
sf_county_fips = ["12011", "12086", "12099", "12087"]  # Broward, Miami-Dade, Palm Beach, Monroe

# Columns to keep (core + interpretable + flags) 
core_cols = [
    "GEOID", "ST", "STATE", "ST_ABBR", "COUNTY", "STCNTY", "LOCATION", "AREA_SQMI",
    "RPL_THEME1", "RPL_THEME2", "RPL_THEME3", "RPL_THEME4", "RPL_THEMES",
    "SPL_THEME1", "SPL_THEME2", "SPL_THEME3", "SPL_THEME4", "SPL_THEMES",
]

explain_cols = [
    "EP_POV150", "EP_UNEMP", "EP_HBURD", "EP_NOHSDP", "EP_UNINSUR",
    "EP_AGE65", "EP_AGE17", "EP_DISABL", "EP_SNGPNT", "EP_LIMENG",
    "EP_MINRTY", "EP_MUNIT", "EP_MOBILE", "EP_CROWD", "EP_NOVEH", "EP_GROUPQ",
]

flag_cols = ["F_THEME1", "F_THEME2", "F_THEME3", "F_THEME4", "F_TOTAL"]

keep = [c for c in (core_cols + explain_cols + flag_cols) if c in cdc.columns]
cdc_clean = cdc[keep].copy()

In [13]:
# Convert numeric columns
num_cols = [c for c in cdc_clean.columns if c.startswith(("RPL_", "SPL_", "EP_"))]
cdc_clean[num_cols] = cdc_clean[num_cols].apply(pd.to_numeric, errors="coerce")

# Enforce valid ranges
# RPL_* are percentile ranks in [0, 1]
for c in [c for c in cdc_clean.columns if c.startswith("RPL_")]:
    cdc_clean.loc[(cdc_clean[c] < 0) | (cdc_clean[c] > 1), c] = pd.NA

# EP_* are percents in [0, 100]
for c in [c for c in cdc_clean.columns if c.startswith("EP_")]:
    cdc_clean.loc[(cdc_clean[c] < 0) | (cdc_clean[c] > 100), c] = pd.NA

In [14]:
# Renames
rename_map = {
    "RPL_THEME1": "svi_theme1_pctile",
    "RPL_THEME2": "svi_theme2_pctile",
    "RPL_THEME3": "svi_theme3_pctile",
    "RPL_THEME4": "svi_theme4_pctile",
    "RPL_THEMES": "svi_overall_pctile",
    "SPL_THEME1": "svi_theme1_score",
    "SPL_THEME2": "svi_theme2_score",
    "SPL_THEME3": "svi_theme3_score",
    "SPL_THEME4": "svi_theme4_score",
    "SPL_THEMES": "svi_overall_score",
}
cdc_clean = cdc_clean.rename(columns=rename_map)

In [15]:
# Sanity checks
print("Rows:", len(cdc_clean))
print("Duplicate GEOIDs:", int(cdc_clean["GEOID"].duplicated().sum()))
print("Missing overall pctile:", round(cdc_clean["svi_overall_pctile"].isna().mean() * 100, 2), "%")

Rows: 5122
Duplicate GEOIDs: 0
Missing overall pctile: 1.0 %

In [17]:
# Save (South Florida subset)
cdc_sf = cdc_clean[cdc_clean["GEOID"].str[:5].isin(sf_county_fips)].copy()
cdc_sf.to_parquet("/data/CDCSocialVulnerabilityIndexFlorida_dataset CLEANED.parquet", index=False)
cdc_sf.to_csv("/data/CDCSocialVulnerabilityIndexFlorida_dataset CLEANED.csv", index=False)